@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap);
.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
:root {
  --bs-font-sans-serif-p60otOVUI: "Inter", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    --bs-font-sans-serif-p60otOVUI: "Inter", sans-serif;
  }
}
.ul {
  padding-left: 2rem;
}
.ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.ul .ul {
  margin-bottom: 0;
}
.img {
  vertical-align: middle;
}
.button {
  border-radius: 0;
}
.button:focus:not(:focus-visible) {
  outline: 0;
}
.button:focus {
  outline: 0;
}
.button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.button {
  text-transform: none;
}
[type="button"],
.button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
  color: #6b7280;
  background-color: #fff;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 0.0625rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #f2f2f2;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f2f2f2;
}
.form-control-sm::file-selector-button {
  padding: 0.375rem 0.625rem;
  margin: -0.375rem -0.625rem;
  -webkit-margin-end: 0.625rem;
  margin-inline-end: 0.625rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #374151;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #374151;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
.btn:active {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
.btn:active:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25),
    inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.btn-secondary {
  color: #1f2937;
  background-color: #f0bc74;
  border-color: #f0bc74;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(17, 24, 39, 0.075);
}
.btn-secondary:hover {
  color: #1f2937;
  background-color: #f2c689;
  border-color: #f2c382;
}
.btn-secondary:focus {
  color: #1f2937;
  background-color: #f2c689;
  border-color: #f2c382;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(17, 24, 39, 0.075), 0 0 0 0.18rem rgba(209, 166, 107, 0.5);
}
.btn-secondary:active {
  color: #1f2937;
  background-color: #f3c990;
  border-color: #f2c382;
}
.btn-secondary:active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125),
    0 0 0 0.18rem rgba(209, 166, 107, 0.5);
}
.btn-secondary:disabled {
  color: #1f2937;
  background-color: #f0bc74;
  border-color: #f0bc74;
}
.btn-sm {
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
.collapse:not(.show) {
  display: none;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e5e7eb;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #1f2937;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: #1f2937;
  text-decoration: none !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
}
.navbar-toggler {
  padding: 0.4rem 0.6rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.18rem;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.card-img-top {
  width: 100%;
}
.card-img-top {
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
}
.badge {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5rem;
}
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.border-white {
  border-color: #fff !important;
}
.border-gray-700 {
  border-color: #374151 !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.me-1 {
  margin-right: 0.25rem !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.text-white {
  color: #fff !important;
}
.text-gray-800 {
  color: #1f2937 !important;
}
.bg-secondary {
  background-color: #f0bc74 !important;
}
.bg-danger {
  background-color: #e11d48 !important;
}
.bg-gray-800 {
  background-color: #000000 !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .me-lg-5 {
    margin-right: 3rem !important;
  }
}
.navbar-brand {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-brand .img {
  height: 40px;
}
.navbar-dark .navbar-brand-light {
  display: none;
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-theme-primary:not(.headroom) {
  background-color: #000000;
}
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  transition: max-width 0.1s;
}
@media (prefers-reduced-motion: reduce) {
  .sidebar {
    transition: none;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 260px;
  }
}
.sidebar .nav {
  white-space: nowrap;
}
.sidebar .nav-item {
  margin-bottom: 0.2rem;
}
.sidebar .nav-item.active > .nav-link {
  color: #f2f4f6;
  background-color: #2c2c2c;
}
.sidebar .nav-item .nav-link {
  color: #fff;
  cursor: pointer;
}
.sidebar .nav-item .nav-link:hover {
  color: #f2f4f6;
  background-color: #2c2c2c;
}
.sidebar .nav-link + .multi-level {
  margin-top: 0.2rem;
}
.sidebar .nav-link {
  font-size: 1rem;
  vertical-align: middle;
  padding: 0.55rem 0.75rem;
  border-radius: 0.5rem;
}
.sidebar .nav-link .sidebar-icon {
  margin-right: 0.5rem;
  color: #9ca3af;
}
.sidebar .nav-link .link-arrow {
  font-size: 0.875rem;
}
.sidebar .multi-level .nav-link {
  padding-left: 53px;
}
.sidebar .badge,
.sidebar .link-arrow,
.sidebar .notification-count,
.sidebar .sidebar-text {
  opacity: 1;
}
.sidebar .sidebar-text-contracted {
  display: none;
}
.sidebar-inner {
  position: relative;
  overflow-y: hidden;
}
.user-card {
  border-bottom: 0.0625rem solid #2e3650;
}
@media (max-width: 575.98px) {
  .sidebar {
    width: 100%;
  }
}
.img {
  max-width: 100%;
}
.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
}
.avatar-lg .img {
  width: 4.5rem;
  height: 4.5rem;
}
:root {
  --bs-font-sans-serif-p60otOVUI: "Inter", sans-serif;
}
.badge {
  font-size: 0.75em;
  font-weight: 600;
}
.badge-pill {
  padding-right: 0.875em;
  padding-left: 0.875em;
}
.badge-sm {
  padding: 0.2rem 0.6rem;
}
.btn-secondary:hover {
  background-color: #eeb15d;
  border-color: #eeb15d;
}
.icon {
  height: 2rem;
}
.icon.icon-xxs {
  height: 1rem;
}
.icon.icon-xs {
  height: 1.25rem;
}
.icon.icon-sm {
  height: 1.5rem;
}
.nav-link {
  color: #1f2937;
}
.nav-link:hover {
  color: #1f2937;
}
.nav-link:hover .img {
  opacity: inherit;
  transition: all 0.2s ease;
}
.nav-link span {
  position: relative;
}
.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
}
.ul li {
  font-family: var(--bs-font-sans-serif-p60otOVUI);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
.text-white,
.text-white:hover {
  color: #fff !important;
}
.text-gray-800,
.text-gray-800:hover {
  color: #1f2937 !important;
}
[data-simplebar] {
  position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.simplebar-content-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
.simplebar-scrollbar::before {
  background-color: #0d1116;
}

.icon-rotate {
  transition: transform 0.3s ease;
  transform-origin: center;
}


.icon-rotate-down {
  transform: rotate(90deg);
  transition: all .2s ease;
}
