.mentor {
  padding: 2rem !important;
}

.mentorInfo {
  margin-bottom: 2rem !important;
}

.mentorMoreInfo {
  color: #939393
}

.mentorName {
  font-weight: 600 !important;
}

.mentorRate {

}

.mentorLocation {

}

.mentorChat {
  color: #fff;
  background-color: #2796CE;
  border-color: #2796CE;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  font-size: .875rem;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-primary-light {
  background-color: #E1F1F9 !important;
}