.container {
  display: flex;
  height: 62.3vh;
}
@media (min-height: 1080px) {
  .container {
    height: 62.3vh;
  }
}
@media (min-height: 900px) and (max-height: 1079px) {
  .container {
    height: 57vh;
  }
}
@media (max-height: 899px) {
  .container {
    height: 60vh;
  }
}
@media (max-height: 600px) {
  .container {
    height: 70vh;
  }
}
.mapContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.contactContainer {
  width: 50%;
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactInfo {
  margin-bottom: 3rem !important;
}
.icon {
  margin-right: 10px;
  color: #007bff;
}
.iconContainer {
  margin-right: 2rem;
}
.loadingContainer,
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.loadingContainer i,
.errorContainer i {
  font-size: 2rem;
  margin-bottom: 10px;
}
.loadingContainer p,
.errorContainer p {
  margin: 0;
  font-size: 1.2rem;
}
