.accordion-button::after {
  content: '';
  border: solid transparent;
  border-width: 0 5px 5px 5px;
  border-top-color: #000; /* Màu mũi tên */
  transform: rotate(0); /* Hướng ban đầu */
  transition: transform 0.3s ease;
}

.accordion-button.collapsed::after {
  transform: rotate(180deg); /* Quay mũi tên khi đóng */
}